/*
/.*
!/.prettierignore
!/examples
!typedoc.json
!tsconfig*.json
!.github
!src/
!bin/
!lib/
!package.json
!package-lock.json
!README.md
!CONTRIBUTING.md
!LICENSE.md
!CHANGELOG.md
!example/
!scripts/
!tap-snapshots/
!test/
!.gitignore
!.gitattributes
!map.js
!eslint.config.mjs
