/*
/.*

!.github
!index.js
!bin/
!lib/
!package.json
!package-lock.json
!README.md
!CONTRIBUTING.md
!LICENSE
!CHANGELOG.md
!example/
!scripts/
!tap-snapshots/
!test/
!.gitignore
!.gitattributes
!map.js
